$black: #000;
$black-30: rgba(0, 0, 0, .3);
$carrot-orange: #e98a15;
$light-cyan: #d2fdff;
$maya-blue: #69ddff;
$neon-carrot: #ffa354;
$pansy-purple: #59114d;
$pantone-pink: #d84797;
$pink: #ffc0cb;
$white: #fff;
