$enable-gradients: true;
@import './colors';

// $btn-border-radius: 0;
$theme-colors: (
  'primary': $carrot-orange,
  'secondary': $pantone-pink,
  'success': $pink,
  'danger': $pansy-purple,
  'info': $maya-blue,
  'warning': $light-cyan
);

@import '~bootstrap/scss/bootstrap';
@import './typography';
@import './theme';

body {
  background-attachment: fixed;
  background-image: url('public/img/TheHelixNebula.png');
  background-position: center;
  background-size: cover;
}

.container-fluid {
  justify-content: center;
  min-height: 100%;
}

.font-view-tool {
  background-color: $black-30;
  border: 2px solid $white;
  color: $white;
  font-size: 4vmin;
  text-align: center;
}

.header {
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 0;
}

.authentification {
  justify-content: flex-end;
  text-align: right;

  & .signin-form {
    text-align: right;
  }
}

.content {
  color: $white;
  text-align: center;
}

.footer {
  background-color: $black-30;
  color: $white;
  text-align: left;
}

.footer-btn {
  justify-content: center;
}

.appname {
  font-family: 'Montserrat Subrayada';
  font-size: 12vmin;
  text-align: center;
  text-shadow: 1px 2px 10px $pink;
}
//
// body,
// html {
//   height: 100%;
// }
//
// .container {
//   display: grid;
//   min-height: 100%;
//   overflow: hidden;
// }
//
// #sidebar {
//   align-self: flex-end;
//   text-align: center;
// }
//
// div {
//   border: 1px solid $black;
// }
