$enable-gradients: true;
@import './colors';
@import '~bootstrap/scss/bootstrap';
@import './typography';
@import './theme';

body,
html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-color: $outer-space;
  background-position: center;
  background-size: cover;
  display: grid;
}

.container-fluid {
  justify-content: center;
  padding: 0;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbtn {
  margin: 5px;
  width: 175px;
}

.signbtn,
.form-control {
  margin: 5px;
}

.font-view-tool {
  background-color: $linen;
  border: 2px solid $black;
  border-radius: 15px;
  font-size: 4vmax;
  margin: 10px 5px;
  text-align: center;
}

.keyboard {
  justify-content: center;
}

.form-group {
  align-self: center;
  margin: 10px 0;
}

.font-fav {
  align-self: center;
  text-align: center;
}

.content {
  text-align: center;
}

.footer {
  background-color: $black-60;
  color: $linen;
  text-align: left;
}

.footer-btn {
  justify-content: center;
}

.appname {
  color: $linen;
  font-family: 'Montserrat Subrayada';
  font-size: 15vmin;
  text-align: center;
  text-shadow: 0 0 15px $black;
}

.user-message {
  color: $light-cyan;
  font-family: 'Poppins';
  font-size: 2vmax;
  margin: 10px;
}

.favorites-footer {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px 15px;
}

.modal-header {
  background-color: $outer-space;
  color: $white;
}

.modal-content {
  background-color: $linen;
}

table {
  background-color: $white;
}

.fonts-index {
  border-radius: 100px 100px 0 0;
  height: 55px;
}

.push-to-bottom {
  align-self: flex-end;
  font-size: 1.1rem;

  & .footer {
    padding: 15px 0 15px 40px;
  }
}
