@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('public/Open_Sans_Condensed/OpenSansCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Satisfy';
  src: url('public/Satisfy/Satisfy-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  src: url('public/Orbitron/Orbitron-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Major Mono Display';
  src: url('public/Major_Mono_Display/MajorMonoDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Akronim';
  src: url('public/Akronim/Akronim-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bungee Outline';
  src: url('public/Bungee_Outline/BungeeOutline-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bungee Shade';
  src: url('public/Bungee_Shade/BungeeShade-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fascinate Inline';
  src: url('public/Fascinate_Inline/FascinateInline-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Monofett';
  src: url('public/Monofett/Monofett.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat Subrayada';
  src: url('public/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf') format('truetype');
}

#appname {
  font-family: 'Montserrat Subrayada';
  font-size: 8vmin;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-image: url('public/img/TheHelixNebula.png');
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}

.font-view-tool {
  font-size: 5vmin;
}

.open-sans-condensed {
  font-family: 'Open Sans Condensed';
}

.satisfy {
  font-family: 'Satisfy';
}

.orbitron {
  font-family: 'Orbitron';
}

.major-mono-display {
  font-family: 'Major Mono Display';
}

.akronim {
  font-family: 'Akronim';
}

.bungee-outline {
  font-family: 'Bungee Outline';
}

.bungee-shade {
  font-family: 'Bungee Shade';
}

.fascinate-inline {
  font-family: 'Fascinate Inline';
}

.monofett {
  font-family: 'Monofett';
}

.montserrat-subrayada {
  font-family: 'Montserrat Subrayada';
}
